<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, :class=>'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id, :class=>'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :item_name %><br>
    <%= f.text_field :item_name, :class=>'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :purchase_date %><br>
    <%= f.date_select :purchase_date, :class=>'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :tenure %><br>
    <%= f.text_field :tenure, :class=>'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :last_installment_paid_on %><br>
    <%= f.date_select :last_installment_paid_on, :class=>'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :next_installment_due_on %><br>
    <%= f.date_select :next_installment_due_on, :class=>'form-control' %>
  </div>
    <div class="actions form-group">
      <%= f.submit 'Save', :class=>'btn btn-success' %>
      <% if !@purchase.new_record? %>
          <%= link_to 'Show', @purchase, :class=>'btn btn-success' %>
      <% end %>
      <%= link_to 'Back', purchases_path, :class=>'btn btn-default' %>
    </div>
<% end %>
