<h1 class="page-header">Purchase Details</h1>

<p id="notice"><%= notice %></p>

<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
    <tr>
      <td><strong>User:</strong></td>
      <td><%= @purchase.user_id %></td>
    </tr>

    <tr>
      <td><strong>Customer:</strong></td>
      <td><%= @purchase.customer_id %></td>
    </tr>

    <tr>
      <td><strong>Item name:</strong></td>
      <td><%= @purchase.item_name %></td>
    </tr>

    <tr>
      <td><strong>Item name:</strong></td>
      <td><%= @purchase.item_name %></td>
    </tr>

    <tr>
      <td><strong>Purchase date:</strong></td>
      <td><%= @purchase.purchase_date %></td>
    </tr>

    <tr>
      <td><strong>Tenure:</strong></td>
      <td><%= @purchase.tenure %></td>
    </tr>

    <tr>
      <td><strong>Last installment paid on:</strong></td>
      <td><%= @purchase.last_installment_paid_on %></td>
    </tr>

    <tr>
      <td><strong>Next installment due on:</strong></td>
      <td><%= @purchase.next_installment_due_on %></td>
    </tr>

    <tr>
      <td colspan="2">
        <%= link_to 'Edit', edit_purchase_path(@purchase), :class=>'btn btn-success' %>
        <%= link_to 'Back', purchases_path, :class=>'btn btn-default' %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
