<h1 class="page-header">Customer Details</h1>

<p id="notice"><%= notice %></p>

<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td><strong>First name:</strong></td>
        <td><%= @customer.first_name %></td>
      </tr>

      <tr>
        <td><strong>Last name:</strong></td>
        <td><%= @customer.last_name %></td>
      </tr>

      <tr>
        <td><strong>Father name:</strong></td>
        <td><%= @customer.father_name %></td>
      </tr>

      <tr>
        <td><strong>CNIC:</strong></td>
        <td><%= @customer.cnic %></td>
      </tr>

      <tr>
        <td><strong>City:</strong></td>
        <td><%= @customer.city %></td>
      </tr>

      <tr>
        <td colspan="2">
          <%= link_to 'Edit', edit_customer_path(@customer), :class=>'btn btn-success' %>
          <%= link_to 'Back', customers_path, :class=>'btn btn-default' %>
        </td>
      </tr>

    </tbody>
  </table>
</div>


